---
BasedOnStyle: Mozilla
AccessModifierOffset: '0'
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: 'true'
AlignOperands: 'true'
ContinuationIndentWidth: '0'
Cpp11BracedListStyle: 'true'
IndentWidth: '4'
Language: Cpp
MaxEmptyLinesToKeep: '2'
PenaltyReturnTypeOnItsOwnLine: '1'
PointerAlignment: Right
ReflowComments: 'true'
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: 'false'
SpacesBeforeTrailingComments: '0'
SpacesInAngles: 'false'
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'false'
Standard: Cpp11
TabWidth: '4'
UseTab: Never

...
