[submodule "external/Catch"]
	path = external/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "external/nitro"]
	path = external/nitro
	url = https://github.com/tud-zih-energy/nitro.git
[submodule "external/sqlite_modern_cpp"]
	path = external/sqlite_modern_cpp
	url = https://github.com/aminroosta/sqlite_modern_cpp.git
[submodule "external/pugixml"]
	path = external/pugixml
	url = https://github.com/zeux/pugixml
