[submodule "sysmap/nitro"]
	path = sysmap/nitro
	url = https://github.com/tud-zih-energy/nitro.git
[submodule "sysmap/sqlite_modern_cpp"]
	path = sysmap/sqlite_modern_cpp
	url = https://github.com/aminroosta/sqlite_modern_cpp.git
[submodule "sysmap/fmt"]
	path = sysmap/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "sysmap/rapidjson"]
	path = sysmap/rapidjson
	url = https://github.com/miloyip/rapidjson.git
